@model IEnumerable<InmemDb.Models.Dish>
@inject InmemDb.Services.IngredientService _ingredientService

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.ajax.unobtrusive/3.2.4/jquery.unobtrusive-ajax.min.js"></script>
<link href="~/css/HomeIndexTable.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>

    @*Column one
        ----------PIZZA DISHES----------
        Column one*@
    <div class="col-lg-8">
        <table>
            <tr>
                <td style="font-size:30px;background-color:green;color:white;">Pizza</td>
            </tr>
            @foreach (var item in Model)
            {
                @if (item.Category.Name == "Pizza")
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td style="font-size:10px;">@_ingredientService.AllToStringForDishId(item.DishId)</td>
                        <td>@Html.DisplayFor(modelItem => item.Price)</td>
                        <td>
                            <a class="btn btn-primary"
                               asp-controller="ShoppingCart"
                               asp-action="AddDishToCart"
                               asp-route-id=@item.DishId
                               data-ajax="true"
                               data-ajax-method="GET"
                               data-ajax-mode="replace"
                               data-ajax-update="#orderSummary"
                               onclick="Materialize.toast('@item.Name  added to cart', 4000)"><i class="Medium material-icons">add_shopping_cart</i>
                            </a>
                        </td>
                        @*<td>
                            <a class="btn btn-primary"
                               asp-controller="ShoppingCart"
                               asp-action="AddProduct"
                               asp-route-id=@item.DishId
                               data-ajax="true"
                               data-ajax-mode="get"
                               data-ajax-update="#extraIngredient">
                                Add extra ingredient
                            </a>
                        </td>*@
                    </tr>
                }
            }
            <tr>
                <td style="font-size:30px;background-color:white;color:black;">Pasta</td>
            </tr>
            @foreach (var item in Model)
            {
                @if (item.Category.Name == "Pasta")
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td style="font-size:10px;">@_ingredientService.AllToStringForDishId(item.DishId)</td>
                        <td>@Html.DisplayFor(modelItem => item.Price)</td>
                        <td>
                            <a class="btn btn-primary"
                               asp-controller="ShoppingCart"
                               asp-action="AddProduct"
                               asp-route-id=@item.DishId
                               data-ajax="true"
                               data-ajax-mode="get"
                               data-ajax-method="update"
                               data-ajax-update="#orderSummary">
                                Add
                            </a>
                        </td>
                    </tr>
                }
            }
            <tr>
                <td style="font-size:30px;background-color:red;color:white;">Salad</td>
            </tr>
            @foreach (var item in Model)
            {
                @if (item.Category.Name == "Salad")
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td style="font-size:10px;">
                            @_ingredientService
                        .AllToStringForDishId(item.DishId)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                    <td>
                        <a class="btn btn-primary"
                           asp-controller="ShoppingCart"
                           asp-action="AddProduct"
                           asp-route-id=@item.DishId
                           data-ajax="true"
                           data-ajax-mode="get"
                           data-ajax-method="update"
                           data-ajax-update="#orderSummary">
                            Add
                        </a>
                    </td>
                </tr>
                }
            }
        </table>
    </div>

<ul id="slide-out" class="side-nav">
    <li>
        <div id="orderSummary"></div>
    </li>
</ul>