@model List<InmemDb.Models.CartItem>
@inject InmemDb.Services.IIngredientService _ingredientService

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-collapse" style="background-color:ghostwhite;">
        @foreach (var dish in Model)
        {
            <li>
                <b>@dish.Dish.Name<br /></b>

                @dish.Dish.Price KR
                <a class="glyphicon glyphicon-shopping-cart"
                   asp-action="EditDishIngredientsInCart"
                   asp-controller="ShoppingCart"
                   asp-route-dishId="@dish.Dish.DishId"
                   asp-route-cartItemId="@dish.CartItemId"
                   >
                    edit
                </a>
            </li>
        }
        <li>
            <div>To Pay @Model.Sum(p => p.Dish.Price * p.Quantity) KR</div>
            <a class="btn btn-primary" asp-action="ResetCart" asp-controller="ShoppingCart">Reset</a>

            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn btn-primary" asp-action="Payment" asp-controller="Payment">Buy</a>
            }
            else
            {
                <a class="btn btn-primary" asp-action="LoginCreateOrGuest" asp-controller="Payment">Checkout</a>
            }
        </li>
    </ul>
</div>