@model InmemDb.Models.DishIngredientVM

<h2>Edit</h2>

<h4>Dish</h4>
<hr />
<form asp-controller="ShoppingCart" asp-action="EditDishIngredientsInCart" method="post">
    <div class="row">
        <div class="col-md-4">
                <input type="hidden" asp-for="@Model.Dish" />
                <input type="hidden" asp-for="@Model.DishId" />
                <input type="hidden" asp-for="@Model.CartItemId" />
                @for (var i = 0; i < Model.SelectedIngredients.Count(); i++)
                {
                    <p>
                        <input type="checkbox" asp-for="@Model.SelectedIngredients[i].Enabled" />
                        <label asp-for="@Model.SelectedIngredients[i].Enabled">@Model.SelectedIngredients[i].Name @Model.SelectedIngredients[i].Price Kr </label>
                        <input type="hidden" asp-for="@Model.SelectedIngredients[i].Id" />
                        <input type="hidden" asp-for="@Model.SelectedIngredients[i].Name" />
                    </p>
                }
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>