@model InmemDb.Models.Dish
@inject InmemDb.Services.IngredientService ingredientService

<h2>Edit</h2>

<h4>Dish</h4>
<hr />
<form asp-controller="Dishes" asp-action="EditIngredientsInCart">
    <div class="row">
        <div class="col-md-4">
            @*@foreach (var ingredient in ingredientService.All())
            {
                <div class="col-lg-6">
                    <input type="checkbox" value="@ingredient.IngredientId" name="ingredient-@ingredient.IngredientId" @(Model.DishIngredients.Any(i => i.IngredientId == ingredient.IngredientId && i.Enabled) ? "checked": "") />
                    <span><b>@ingredient.Name</b></span>
                </div>
            }*@
            @foreach (var ingredient in ingredientService.All())
            {
                if (Model.DishIngredients.Any(x => x.IngredientId == ingredient.IngredientId && x.Enabled))
                {
                    <div class="col-lg-6">

                        <input type="checkbox" value="@ingredient.IngredientId" name="ingredient-@ingredient.IngredientId" checked />
                        <span>@ingredient.Name</span>
                    </div>
                }
                else
                {
                    <div class="col-lg-6">

                        <input type="checkbox" value="@ingredient.IngredientId" name="ingredient-@ingredient.IngredientId" />
                        <span>@ingredient.Name</span>
                    </div>
                }

            }
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>