@model IEnumerable<InmemDb.Models.Dish>
@inject InmemDb.Services.IngredientService _ingredientService

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.ajax.unobtrusive/3.2.4/jquery.unobtrusive-ajax.min.js"></script>
<link href="~/css/HomeIndexTable.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>
    <h2><a asp-action="Create" asp-controller="Dishes">Create new dish</a></h2>

<div style="float:right;" id="Cart"></div>

        @*Column one
            ----------PIZZA DISHES----------
            Column one*@
        <div>
            <table>
                <tr>
                    <td style="font-size:30px;background-color:green;color:white;">Pizza</td>
                </tr>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td style="font-size:10px;">@_ingredientService.AllToStringForDishId(item.DishId)</td>
                        <td>@Html.DisplayFor(modelItem => item.Price)</td>
                        <td>
                            <a class="btn btn-primary"
                               asp-controller="ShoppingCart"
                               asp-action="AddDishToCart"
                               asp-route-id=@item.DishId>
                                Add
                            </a>
                        </td>
                        @if (User.IsInRole("Admin"))
                {
                            <td>
                                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.DishId">
                                    <span class="glyphicon glyphicon-edit">Edit</span>
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-warning" asp-action="Delete" asp-route-id="@item.DishId">
                                    <span class="glyphicon glyphicon-alert">Delete</span>
                                </a>
                            </td>
                        }
                    </tr>
                }
                @*<tr>
                        <td style="font-size:30px;background-color:white;color:black;">Pasta</td>
                    </tr>
                    @foreach (var item in Model)
                        {
                        @if (item.Category.Name == "Pasta")
                            {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td style="font-size:10px;">@_ingredientService.AllToStringForDishId(item.DishId)</td>
                                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                                <td>
                                    <a class="btn btn-primary"
                                       asp-controller="ShoppingCart"
                                       asp-action="AddProduct"
                                       asp-route-id=@item.DishId
                                       data-ajax="true"
                                       data-ajax-mode="get"
                                       data-ajax-method="update"
                                       data-ajax-update="#orderSummary">
                                        Add
                                    </a>
                                    <a asp-action="Edit" asp-route-id="@item.DishId">Edit</a> |
                                    <a asp-action="Delete" asp-route-id="@item.DishId">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                    <tr>
                        <td style="font-size:30px;background-color:red;color:white;">Salad</td>
                    </tr>
                    @foreach (var item in Model)
                        {
                        @if (item.Category.Name == "Salad")
                            {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td style="font-size:10px;">
                                    @_ingredientService
                                    .AllToStringForDishId(item.DishId)
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                                <td>
                                    <a class="btn btn-primary"
                                       asp-controller="ShoppingCart"
                                       asp-action="AddProduct"
                                       asp-route-id=@item.DishId
                                       data-ajax="true"
                                       data-ajax-mode="get"
                                       data-ajax-method="update"
                                       data-ajax-update="#orderSummary">
                                        Add
                                    </a>
                                    <a asp-action="Edit" asp-route-id="@item.DishId">Edit</a> |
                                    <a asp-action="Delete" asp-route-id="@item.DishId">Delete</a>
                                </td>
                            </tr>
                        }
                    }*@
            </table>
        </div>


