@model List<InmemDb.Models.DishCart>
@inject InmemDb.Services.IngredientService _ingredientService

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-collapse" style="background-color:ghostwhite;" >
        @foreach (var dish in Model)
        {
            <li>
                <b>@dish.Dish.Name</b>
                @_ingredientService.AllToStringForDishId(dish.DishId)
                @dish.Dish.Price KR
                <a class="glyphicon glyphicon-shopping-cart" 
                   asp-action="EditIngredientsInCart" 
                   asp-controller="Dishes" 
                   asp-route-id="@dish.DishId"
                >
                edit
                </a>
            </li>
        }
        <li>
            <div>To Pay @Model.Sum(p => p.Dish.Price * p.Quantity) KR</div>
            <a class="btn btn-primary" asp-action="ResetCart" asp-controller="ShoppingCart">Reset</a>

            @*@if (User.IsInRole("User"))
                {
                <a class="btn btn-primary" asp-action="Payment" asp-controller="Order">Buy</a>
                }
                else
                {*@
            <a class="btn btn-primary" asp-action="LoginCreateOrGuest" asp-controller="ShoppingCart">Checkout</a>
            @*}*@
        </li>
    </ul>
</div>