@model List<InmemDb.Models.DishCart>
@inject InmemDb.Services.IngredientService ingredientService

<ul class="collapsible popout" data-collapsible="accordion">
    @foreach (var dish in Model)
    {
        <li>
            <div class="collapsible-header">
               @dish.Dish.Name
                @ingredientService.AllToStringForDishId(dish.DishId)
               @(dish.Quantity * dish.Dish.Price) KR
                <a style="float:right;" class="btn btn-success" data-toggle="modal" data-target=".bootstrapmodal">Edit</a>
            </div>

            <div class="collapsible-body">
                <b>To Pay @Model.Sum(p => p.Dish.Price * p.Quantity) KR</b>
                    
            </div>
        </li>
    }
        <li>
            <div>
                <a class="btn btn-primary" asp-action="ResetCart" asp-controller="ShoppingCart">Reset</a>
                @*@if (User.IsInRole("User"))
                {
                <a class="btn btn-primary" asp-action="Payment" asp-controller="Order">Buy</a>
                }
                else
                {*@
                <a class="btn btn-primary" asp-action="LoginCreateOrGuest" asp-controller="ShoppingCart">Checkout</a>
                @*}*@
            </div>
        </li>
</ul>
<div class="modal fade bootstrapmodal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            @*@foreach (var dish in Model)
                {
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal"><span>&times;</span></button>
                        <div class="modal-title">
                            @foreach (var ingredient in ingredientService.All())
                            {
                                @if (dish.Dish.DishIngredients.Any(x => x.IngredientId == ingredient.IngredientId && x.Enabled))
                                {
                                    <div>
                                        <input type="checkbox" value="ingredient-@ingredient.IngredientId" name="ingredient-@ingredient.IngredientId" checked />
                                        <span>@ingredient.Name</span>
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <input type="checkbox" value="ingredient-@ingredient.IngredientId" name="ingredient-@ingredient.IngredientId" />
                                        <span>@ingredient.Name</span>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                        <div class="modal-body">
                            @dish.Dish.Name
                        </div>
                }*@
            <div class="modal-footer">
                <button class="btn btn-primary">Update</button>
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
      $(document).ready(function () {
          $('.collapsible').collapsible();
      });

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
