@model ICollection<InmemDb.Models.DishOrder>



<table class="table-striped">
    @foreach (var dish in Model)
    {
        <tr>
            <td>@dish.Dish.Name</td>

            <td>@dish.Quantity * @dish.Dish.Price = @(dish.Quantity * dish.Dish.Price) KR</td>
        </tr>
    }
</table>
<table>
    <tr>
        <td>To Pay @Model.Sum(p => p.Dish.Price * p.Quantity) KR</td>
    </tr>
    <tr>
        <td><a class="btn btn-primary" asp-action="ResetCart" asp-controller="ShoppingCart">Reset</a></td>
        <td><a style="float:right;margin-bottom:auto;" class="btn btn-primary">Buy</a></td>
    </tr>
    <tr></tr>
    
    
</table>
