@model OrderViewModel

<div>
    <h3>@Model.User.Firstname @Model.User.Lastname</h3>
    Thank you for making your order at Mir's Pizzeria!<br />

    <table>
        <thead>
            <tr>
                <th>Order receipt</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Order ID: @Model.Cart.CartId</td>
                <td>Dish names: @Model.DishCart.Dish.Name</td>
                <td>Quantity: @Model.DishCart.Quantity</td>
            </tr>
        </tbody>
    </table>
</div>