@model List<Dish>
@inject InmemDb.Services.IIngredientService _ingredientService

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.ajax.unobtrusive/3.2.4/jquery.unobtrusive-ajax.min.js"></script>
<link href="~/css/HomeIndexTable.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>
    <h2><a asp-action="Edit" asp-controller="Dish">Create new dish</a></h2>

        
<div class="col-lg-8">
    <table>
        <tr>
            <td style="font-size:30px;background-color:green;color:white;">Dishes</td>
        </tr>
        @foreach (var item in Model)
    {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>

                        
                <td style="font-size:10px;">
                    @foreach (var ingredient in await _ingredientService.GetIngredients(item.DishId))
                    {
                        @ingredient.Name<br />
                    }
                </td>

                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>
                    <a class="btn btn-primary"
                       asp-controller="ShoppingCart"
                       asp-action="AddDishToCart"
                       asp-route-dishId=@item.DishId
                       data-ajax="true"
                       data-ajax-method="GET"
                       data-ajax-mode="replace"
                       data-ajax-update="#CartPartial"
                       >
                        Add
                    </a>
                </td>
                @*@if (User.IsInRole("Admin"))
        {*@
                    <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.DishId">
                            <span class="glyphicon glyphicon-edit">Edit</span>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-warning" asp-action="Delete" asp-route-id="@item.DishId">
                            <span class="glyphicon glyphicon-alert">Delete</span>
                        </a>
                    </td>
                @*}*@
            </tr>
        }
    </table>
</div>


<div id="CartPartial"></div>