@model OrderConfirmation
@inject InmemDb.Services.IIngredientService _ingredientService
@inject InmemDb.Services.ShoppingCartService _cartService

<div style="margin-top:20px;">
    Tack @Model.Payment.FirstName för ditt köp! Vi kommer skicka dina varor till <br /> 
    @Model.Payment.ShippingAddress<br />
    @Model.Payment.ZipCode<br />
    asd @Model.Payment.City!<br /><br />
    Du får ett sms skickad till <b>@Model.Payment.PhoneNumber</b> ca 30 minuter innan leverans.
    <br /><br />
    En orderbekräftelse har skickats till @Model.Payment.Email!
    <br />
    Här nedan visas ditt köp.<br /><br />
</div>
@foreach (var item in Model.Payment.CartItem)
{
<table class="col-lg-2">
        <tr>
            <th>@item.Dish.Name</th>
        </tr>
        <tr>
            <td style="font-family:cursive">
                @foreach (var ingredient in item.CartItemIngredient)
                {
                    @ingredient.Ingredient.Name<br />
                }
            </td>
        </tr>
</table>
}
<br /><br /><br /><br /><br /><br /><br /><br />
<h3>Totalt : @_cartService.TotalPriceForCart(Model.Payment.CartId) KR</h3>